.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.auth h1 { color:rgb(194, 203, 248);
}

.auth h2 { color:rgb(97, 233, 79);
}

.auth_failure h1 {
  color: rgb(189, 32, 32);
}

.auth_failure h2 {
  color: rgb(14, 113, 241);
}

.auth_failure h3 {
  color: rgb(194, 203, 248);
}